<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @configuration.company_name %>
</p>

<p>
  <b>Ats:</b>
  <%= @configuration.ats %>
</p>

<p>
  <b>Duns:</b>
  <%= @configuration.duns %>
</p>

<p>
  <b>Map frequency:</b>
  <%= @configuration.map_frequency %>
</p>

<p>
  <b>Map day of week:</b>
  <%= @configuration.map_day_of_week %>
</p>

<p>
  <b>Last run:</b>
  <%= @configuration.last_run %>
</p>

<p>
  <b>Time of last run:</b>
  <%= @configuration.time_of_last_run %>
</p>

<p>
  <b>No of times run:</b>
  <%= @configuration.no_of_times_run %>
</p>

<p>
  <b>First time:</b>
  <%= @configuration.first_time %>
</p>

<p>
  <b>Has next:</b>
  <%= @configuration.has_next %>
</p>

<p>
  <b>Job listing option:</b>
  <%= @configuration.job_listing_option %>
</p>

<p>
  <b>Active:</b>
  <%= @configuration.active %>
</p>

<p>
  <b>Save path:</b>
  <%= @configuration.save_path %>
</p>

<p>
  <b>Title:</b>
  <%= @configuration.title %>
</p>

<p>
  <b>Url:</b>
  <%= @configuration.url %>
</p>

<p>
  <b>Login:</b>
  <%= @configuration.login %>
</p>

<p>
  <b>Password:</b>
  <%= @configuration.password %>
</p>

<p>
  <b>Worker:</b>
  <%= @configuration.worker %>
</p>

<p>
  <b>Create csv:</b>
  <%= @configuration.create_csv %>
</p>

<p>
  <b>Job name:</b>
  <%= @configuration.job_name %>
</p>

<p>
  <b>Working title:</b>
  <%= @configuration.working_title %>
</p>

<p>
  <b>Location:</b>
  <%= @configuration.location %>
</p>

<p>
  <b>Organization name:</b>
  <%= @configuration.organization_name %>
</p>

<p>
  <b>Department description:</b>
  <%= @configuration.department_description %>
</p>

<p>
  <b>Brieff description:</b>
  <%= @configuration.brieff_description %>
</p>

<p>
  <b>Detailed description:</b>
  <%= @configuration.detailed_description %>
</p>

<p>
  <b>Job requirments:</b>
  <%= @configuration.job_requirments %>
</p>

<p>
  <b>Addition details:</b>
  <%= @configuration.additional_details %>
</p>

<p>
  <b>How to apply:</b>
  <%= @configuration.how_to_apply %>
</p>

<p>
  <b>Link:</b>
  <%= @configuration.link %>
</p>

<p>
  <b>Save html blob:</b>
  <%= @configuration.save_html_blob %>
</p>

<p>
  <b>Save html file:</b>
  <%= @configuration.save_html_file %>
</p>


<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
