<h1>Listing csv_fields</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Job</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @csv_fields.each do |csv_field| %>
  <tr>
    <td><%= csv_field.title %></td>
    <td><%= csv_field.job_id %></td>
    <td><%= link_to 'Show', csv_field %></td>
    <td><%= link_to 'Edit', edit_csv_field_path(csv_field) %></td>
    <td><%= link_to 'Destroy', csv_field, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Csv field', new_csv_field_path %>
